body {
  background-size: 50px 50px;
  background-image: conic-gradient(
    #ffed7a 90deg,
    #ffffff 90deg 180deg,
    #ffed7a 180deg 270deg,
    #ffffff 270deg
  );
}

.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child1 {
  position: relative;
  margin: 1px;
}

.img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 20% 20%;
  border-radius: 50%;
  border: 5px solid #eecf06;
  /* 	border: 5px solid black; */
}

.box3 {
  margin: 15px;
  border-radius: 10px;
  border: 2px solid#ffed7a;
  display: block;
  background-color: #ffffff;
  opacity: 0.8;
}
